<!DOCTYPE html>
<html lang="en">
  <% top_head= Tilt.new('templates/partials/top_head.erb') %>
  <%= top_head.render %>
  <body id="page-top">
    <!-- Navigation-->
    <% navbar= Tilt.new('templates/partials/navbar.erb') %>
    <% scope = Object.new %>
    <% scope.instance_variable_set :@cities, @cities %>
    <%= navbar.render(scope) %>
    <!-- Masthead-->
    <header class="masthead">
      <div class="container px-4 px-lg-5 h-100" id="about">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold">Times Food & Nightlife Awards</h1>
            <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75">20 years, 11 Cities, 2000+ nominated restaurants and nightlife venues, 1.8 Million+ public votes, 10 Million+ Social media reach, 700+ awarded venues a year, a galaxy of celebrities, socialites, high fashion and the best food and nightlife in the country held in 5 star properties around the nation.</p>
            <p class="text-white-75 mb-5">Debuting in 2003, for two decades we have identified, celebrated and awarded the best in culinary excellence</p>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <section class="bg-primary"  id="" >
        <a class="portfolio-box" href="assets/img/about/main-header.jpg"  alt="Times Food & Nightlife Awards" title="Times Food & Nightlife Awards">
          <img class="img-fluid" src="assets/img/about/main-header.jpg" alt="Times Food & Nightlife Awards" title="Times Food & Nightlife Awards" />
        </a>
        <div class="mb-1"><i class="bi-calendar-heart fs-1"></i></div>
        <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="48" fill="white" class="bi bi-calendar-heart text-center" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5ZM1 14V4h14v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1Zm7-6.507c1.648-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
          </svg>
        </div>
        <h3 class="h4 px-5 bg-primary text-white text-center">20 Years – a journey celebrating excellence</h3>
        <hr class="divider divider-light" />
      </section>
    </div>
    <!-- Timeline -->
    <% timeline= Tilt.new('templates/partials/timeline.erb') %>
    <%= timeline.render %>
    <!-- Awards Model-->
    <% model= Tilt.new('templates/partials/model.erb') %>
    <%= model.render %>
    <!-- Panel-->
    <% panel= Tilt.new('templates/partials/panel.erb') %>
    <%= panel.render %>
    <!-- Contact-->
    <% contact= Tilt.new('templates/partials/contact.erb') %>
    <%= contact.render %>
    <!-- Footer -->
    <% footer= Tilt.new('templates/partials/footer.erb') %>
    <%= footer.render %>
    <!-- Bottom JS -->
    <% bootom_js= Tilt.new('templates/partials/bootom_js.erb') %>
    <%= bootom_js.render %>
    <!-- Bottom CSS -->
    <% bottom_css= Tilt.new('templates/partials/bottom_css.erb') %>
    <%= bottom_css.render %>
  </html>
